<div class="row">
    {{#each docentes}}
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title d-flex justify-content-between align-items-center">
                    {{nombre}} <a href="/docentes/edit/{{_id}}"><i class="fa fa-pencil"></i></a>
                </h4>
                <p>{{email}}</p>
                <p>{{phone}}</p>
                <p>{{grado}}</p>
                <form action="/docentes/delete/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger btn-block btn-sm">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
    {{/each}}
</div>